<div class="wrapper">
    <div class="login-container">
        <form [formGroup]="resetPassForm" (ngSubmit)="submit()">
            <h1>Reset password</h1>
            
            <div class="form-input">
              <label for="">Password</label>
              <span class="eye-icon" (click)="isPwdHide = !isPwdHide">
                <mat-icon>{{isPwdHide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </span>
              <input [type]="isPwdHide ? 'text':'password'"
              formControlName="password"  
              placeholder="Enter your password"
              [class.error-class]="resetPassForm.get('password')?.errors && resetPassForm.get('password')?.touched"
              >
              <small *ngIf="resetPassForm.get('password')?.hasError('required') && resetPassForm.get('password')?.touched">Password is required</small>
              <small *ngIf="!resetPassForm.get('password')?.hasError('required') && resetPassForm.get('password')?.hasError('pattern') && resetPassForm.get('password')?.touched">Invalid Password</small>
            </div>
            <div class="password-info">
              <p>Password Requirements</p>
              <ul>
                <li>Password should 8 charcters in length</li>
                <li>Password should contain atleast one uppercase letter </li>
                <li>Password should contain atleast one Lowercase letter </li>
                <li>Password should contain atleast one digit </li>
                <li>Password should contain atleast one special character</li>
              </ul>

            </div>
            <div class="form-input">
              <label for="">Confirm Password</label>
              <input type="text" 
              formControlName="confirmPassword" 
              placeholder="Enter your confirm password"
              [class.error-class]="(resetPassForm.get('confirmPassword')?.errors && resetPassForm.get('confirmPassword')?.touched) || (resetPassForm.get('confirmPassword')?.value !== resetPassForm.get('password')?.value && resetPassForm.get('confirmPassword')?.touched)"
              >
              <small  *ngIf="resetPassForm.get('confirmPassword')?.hasError('required') && resetPassForm.get('confirmPassword')?.touched">Confirm password required</small>
              <small  *ngIf="resetPassForm.get('confirmPassword')?.value !== resetPassForm.get('password')?.value && resetPassForm.get('confirmPassword')?.touched">Confirm password mismatch</small>
            </div>
           
            <div class="button-area">
                <button>Submit</button>
                (or)
                <a routerLink="/user/login">Login</a>
            </div>
          </form>
          
    </div>

</div>