<div class="wrapper">
  <p class="user-pwd-error" *ngIf="isInvalidCreds">Invalid username/password</p>
  <div class="login-container">
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
          <h1>Login</h1>
          
          <div class="form-input">
            <label for="">Username</label>
            <input type="text" 
            formControlName="email" 
            placeholder="Enter your Username"
            [class.error-class]="loginForm.get('email')?.errors && loginForm.get('email')?.touched"
            >
            <small *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">Username is required</small>
          </div>
          <div class="form-input">
            <label for="">Password</label>
            <span class="eye-icon" (click)="isPwdHide = !isPwdHide">
              <mat-icon>{{isPwdHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </span>
            <input [type]="isPwdHide ? 'text':'password'"
            formControlName="password"  
            placeholder="Enter your password"
            [class.error-class]="loginForm.get('password')?.errors && loginForm.get('password')?.touched"
            >
            <small *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">Password is required</small>
            <small *ngIf="!loginForm.get('password')?.hasError('required') && loginForm.get('password')?.hasError('pattern') && loginForm.get('password')?.touched">Invalid Password</small>
          </div>
          <div class="forgot-pass">
            <a routerLink="/user/forgot-password">forgot password ?</a>
          </div>
          <div class="button-area">
              <button [disabled]="isSubmitted" [ngClass]="isSubmitted ? 'disable-button':''">Login</button>
              (or)
              <a routerLink="/user/sign-up">Sign up/Register</a>
              <div class="spinner-area" *ngIf="isSubmitted">
                <app-spinner></app-spinner>
              </div>
          </div>
        </form>
        
  </div>

</div>