<div class="header-wrapper" *ngIf="true">
    <div class="header">
        <div class="title-logo">
            <div>
                <div class="menu-icon" [ngClass]="isMenuOpen ? 'menu-close' : ''" (click)="menuEvent()">
                    <div class="menu-bar1"></div>
                    <div class="menu-bar2"></div>
                    <div class="menu-bar3"></div>
                </div>
            </div>
            <span>Movie-App</span>
        </div>
        <div class="nav-items" [ngClass]="isMenuOpen ? 'active' : ''">
            <ul>
                <li routerLink="/home"  routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact: true}" >
                    <span><mat-icon>home</mat-icon></span>
                    Home
                </li>
                <!-- <li >
                    <span><mat-icon>movie</mat-icon></span>
                    Movies
                </li> -->
                <li routerLink="/my-reviews" routerLinkActive="activeLink">
                    <span><mat-icon>stars</mat-icon></span>
                    My Reviews</li>
                <li routerLink="/account" routerLinkActive="activeLink">
                    <span><mat-icon>account_circle</mat-icon></span>
                    My Account
                </li>
            </ul>
        </div>

    </div>
</div>