<div class="wrapper">
   <div class="footer-wrapper">
    <div class="author-name">
        <h1>thisIs_Author</h1>
        <p>angularworks@gmail.com</p>
    </div>
    <div class="social-links">
        <ul>
            <li>
                <span><mat-icon>facebook</mat-icon></span> Facebook
            </li>
            <li>
                <span><mat-icon>public</mat-icon></span> Twitter
            </li>
            <li>
                <span><mat-icon>tap_and_play</mat-icon></span> Github
            </li>
        </ul>
    </div>
    <div class="privacy-note">
        <p>This website developed by using free sources and given credits to respective image and content owners.</p>
    </div>
   </div>

</div>
