.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em;
    flex-direction: column;
    .err-text{
        margin-bottom: 10px;
        p{
            color: rgb(208, 5, 5);
        }
    }
    .login-container{
        max-width: 600px;
        min-width: 400px;
        width: 100%;
        padding: 20px  35px;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(0 0 0/10%);
        border-bottom: 5px solid #1b263b;
        form{
            display: flex;
            flex-direction: column;
            gap: .6em;
            h1{
                margin:0 0 .2em 0;
                //border-bottom: 2px solid rgb(13, 13, 188);
            }
            .user-pwd-error{
                font-size: .9em;
                color: red;
            }
            .form-input{
                position: relative;
                label{
                    font-size: 1em;
                }
                label:after{
                    content: "*";
                    color: red;
                }
                input{

                    border: 1.2px solid #b1b1b1b1;
                    width: 100%;
                    border-radius: 4px;
                    padding: 10px;                   
                }
                .error-class{
                    border: 1.5px solid red;
                }
                small{
                    color: red;
                    font-size: .8em;
                }
                input:focus{
                    border: none;
                    outline: none;
                    background-color: #f1f3f4;
                    border-bottom: 2px solid #1b263b;
                }
                
            }
            
            

            
            .button-area{
                display: flex;
                flex-direction: column;
                gap: .5em;
                text-align: center;
                a{
                    color: #3a86ff;
                }
            
                button{
                    width: 100%;
                    outline: none;
                    border: none;
                    background-color: #1b263b;
                    color: #fff;
                    padding: 12px 0;
                    border-radius: 3px;
                    font-size: 1em;
                    cursor: pointer;

                }
                button:hover{
                    background-color: red
                }
            }
        }
       
    }
}

