<div class="wrapper">
  <div class="err-text" *ngIf="isInvalidEmail">
    <p>Invalid email ! please enter registered email</p>
  </div>
    <div class="login-container">
        <form [formGroup]="forgotPassForm" (ngSubmit)="submit()">
            <h1>Forgot password</h1>
            
            <div class="form-input">
              <label for="">Email</label>
              <input type="text" 
              formControlName="email" 
              placeholder="Enter your Username"
              [class.error-class]="forgotPassForm.get('email')?.errors && forgotPassForm.get('email')?.touched"
              >
              <small *ngIf="forgotPassForm.get('email')?.hasError('required') && forgotPassForm.get('email')?.touched">Email is required</small>
              <small *ngIf="!forgotPassForm.get('email')?.hasError('reuired') && forgotPassForm.get('email')?.hasError('email')">Invalid email address</small>
            </div>
            <div class="button-area">
                <button>Submit</button>
                (or)
                <a routerLink="/user/login">Login</a>
            </div>
          </form>
          
    </div>
  
  </div>