<div class="wrapper">  
    <div class="app-poster">
        <div class="poster-note">
           
        </div>
        <div class="poster-note-1">
            <p  class="note-line">Wel come to Movie Review App</p>
            <p  class="note-sub-line">Register & Write Review on Favorite Movies | Shows</p>
            <div class="login-sign">
                <p>Start Here...</p>
                <div class="sign-ups">
                    <button class="login" routerLink="user/login" type="button">Login</button>
                    <button class="sign-up" routerLink="user/sign-up">Sign up</button>
                </div>
            </div>
        </div>
    </div>
    <div class="movie-catalogs">
        <div class="movie-card">
            <div class="movie-logo">
                <img src="../../../assets/images/faceoff_rrr.jpeg" alt="">
                <div class="details">
                    <p>R R R</p>
                    <small>N.T.R, Ramcharan, Rajamouli, M.M Keeravani</small>
                </div>
            </div>
            <div class="movie-des">
                <h1>Explore the Best Tollywood Movies</h1>
                <p>The Telugu film industry, also known as Tollywood, is the second-largest film industry in India, producing movies primarily in the Telugu language. The industry has a rich history dating back to the 1900s and has produced many blockbuster films and talented actors, directors, and technicians. Tollywood's influence has spread beyond the Telugu-speaking states, with a global audience enjoying its films.</p>
                <div class="dir-details">
                    <span>RRR</span>
                    <span>Pushpa </span>
                    <span>Bahubali</span>
                    <span>Nanaku Prematho</span>
                </div>
            </div>

        </div>
        <div class="movie-card bolly-wood">
            <div class="movie-logo">
                <img src="../../../assets/images/dhoom-3.jpg" alt="">
                <div class="details">
                    <p>Dhoom-3</p>
                    <small>Amir khan, Abishek bachan, Katrina kaif </small>
                </div>
            </div>
            <div class="movie-des">
                <h1>Explore the Best Bollywood Movies</h1>
                <p>The Hindi film industry, also known as Bollywood, is the largest film industry in India, producing movies primarily in the Hindi language. Bollywood has a massive fan following across the world and has given birth to many famous actors, directors, and musicians. Bollywood's influence on Indian culture is enormous, with its movies setting fashion trends and influencing social attitudes.</p>
                <div class="dir-details">
                    <span>Pathan</span>
                    <span>Dhoom-3 </span>
                    <span>Krish</span>
                    <span>Bhramhastra</span>
                </div>
            </div>

        </div>
        <div class="movie-card">
            <div class="movie-logo">
                <div class="overlay"></div>
                <img src="../../../assets/images/kgf.jpg" alt="">
                <div class="details">
                    <p>K G F </p>
                    <small>Yash, Prashanth Neel. Hombali Production</small>
                </div>
            </div>
            <div class="movie-des">
                <h1>Explore the Best Kollywood Movies</h1>
                <p>The Kannada film industry,and Tamil film industry, produces movies primarily in the Tamil language and is based in Tamil Nadu. It is one of the largest film industries in India and has given birth to many famous actors, directors, and musicians. Kollywood movies are known for their strong storylines and social messages.</p>
                <div class="dir-details">
                    <span>KGF</span>
                    <span>24</span>
                    <span>Jai Bheem</span>
                    <span>Asuran</span>
                </div>
            </div>

        </div>  

    </div>
</div>

